<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Save the URL</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet" />
</head>

<body class="p-5 bg-gray-100">
    <nav>
        <p class="text-md text-gray-900 text-lg">save-url</p>
    </nav>

    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
