<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Save the URL</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />

    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet" />
</head>

<body class="p-3 bg-gray-200">
    <nav class="p-4 px-5 flex justify-between items-center bg-gray-100 rounded text-md text-gray-700 text-lg shadow-lg">
        <p class="font-bold">Save</p>
        <p class="border-gray-700 border-b-2 text-gray-900">+ submit</p>
    </nav>

    <%= render @view_module, @view_template, assigns %>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</body>

</html>
